<div *ngIf="relationship">
	<div class="clearfix">
		<h4 class="d-inline p-2">{{relationship.person1_role}}</h4>
		<record [respondent_id]="relationship.object_id1"></record>
		<button role="button" type="submit" class="btn btn-primary float-right" id="stepByStepBtn" aria-label="View Step by Step Calculation" title="View Step-by-Step Calculation" (click)="viewStepByStep(relationship.object_id1)">View Step-by-Step Calculation of {{relationship.person1_role}}'s Record</button>
	</div>
	<div class="clearfix">
		<h4>{{relationship.person2_role}}</h4>
		<record [respondent_id]="relationship.object_id2"></record>
		<button role="button" type="submit" class="btn btn-primary float-right" id="stepByStepBtn" aria-label="View Step by Step Calculation" title="View Step-by-Step Calculation" (click)="viewStepByStep(relationship.object_id2)">View Step-by-Step Calculation of {{relationship.person2_role}}'s Record</button>
	</div>
</div>
<button role="button" type="btn" class="btn btn-primary" (click)="goBack()">Go Back</button>
