<div class="container-fluid">
	<div class="row">
		<h3 id="title" tabindex="-1">
			<span>{{title}}</span>
<!-- 			<div class="d-inline"> 
				<hotkeys-cheatsheet></hotkeys-cheatsheet>
				<button class="btn btn-primary keyboard-shortcut-help-btn" (click)="onToggle()" aria-label="View Keyboard Shortcuts" aria-haspopup="true" title="View Keyboard Shortcuts">
					<i class="fa fa-keyboard-o" aria-hidden="true"></i>
					<span class="sr-only">View Keyboard Shortcuts</span>
				</button>
			</div> -->
		</h3>
	</div>
	<router-outlet></router-outlet>
</div>