<div *ngIf="relationship">
	<div class="clearfix">
		<h4>{{relationship.person1_role}}</h4>
		<div [ngSwitch]="state">
			<record *ngSwitchCase="'summary'" [respondent_id]="relationship.object_id1"></record>
			<detail-record *ngSwitchCase="'step-by-step'" [respondent_id]="relationship.object_id1"></detail-record>
		</div>
	</div>
	<hr/>
	<div class="clearfix">
		<h4>{{relationship.person2_role}}</h4>
		<div [ngSwitch]="state">
			<record *ngSwitchCase="'summary'" [respondent_id]="relationship.object_id2"></record>
			<detail-record *ngSwitchCase="'step-by-step'" [respondent_id]="relationship.object_id2"></detail-record>
		</div>
	</div>
</div>
<div class="clearfix mt-2">
	<button role="button" type="btn" class="btn btn-primary float-left" (click)="goBack()">Go Back</button>
	<div class="btn-group btn-group-toggle float-right" ngbRadioGroup name="radioBasic" [(ngModel)]="state">
		<label ngbButtonLabel class="btn-primary">
			<input ngbButton type="radio" value="summary"> Summary of Calculation
		</label>
		<label ngbButtonLabel class="btn-primary">
			<input ngbButton type="radio" value="step-by-step"> Step-By-Step Calculation
		</label>
	</div>
</div>
